@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

body * {
    font-family: 'Syne', sans-serif;
}

body {
    background-color: #FFFFFF;
}

.page .entry-title {
    display: none;
    background-color: #ECE2DA
}

.post-inner {
    padding : 0
}
.singular .entry-header {
    padding: 0;
}

.entry-content h2, .entry-content h3, .entry-content h4{
    font-family: 'Syne', sans-serif;
}

.post-meta {
    display: none;
}
/* HEADER */

.header-footer-group {
    background-color: #FFFFFF;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-inner {
    padding: 0;
    max-width: 100%;
}

.section-inner {
    margin-right: 0;
}

.site-logo {
    width: 201px;
    height: 19px;
}

li.menu-item a {
    font-size: 16px;
    color: black !important;
    display: inline-block;
    padding: 30px 60px;
    background-color: white;
    text-align: center;
    text-decoration: none !important;
}

li.menu-item a:hover{
    font-size: 13px;
    font-weight: 700;
}

li.menu-item.menu-item-11 a:hover {
    background-color: #C02E44;
    font-size: 16px;
}

li.menu-item.menu-item-11 a {
    color: white !important;
    background-color: #DC9F96;
    font-weight: 700 !important;
}

/*Footer*/

#site-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0px 0px 20px 0px;
    margin: auto;
    text-align: center;
    align-items: center;
    color: black;
    background-color: #FFFFFF !important;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.footer-top {
    padding: 0;
}

.footer-inner {
    padding: 0;
    max-width: 100%;
    height: 0px !important;
}

.footer-top.has-footer-menu {
    border: 0;
}

.footer-nav-widgets-wrapper {
    display: none;
}

.canettes-footer {
    width: 100%;
    height: 150px;
    background-image: url(../canettes.png);
    background-repeat: repeat-x;
}

.mentions {
    display: inline-block;
    margin-bottom: 0px;
    padding-top: 10px;
}

div.wp-block-button a {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none !important;
    text-transform: none;
    width: 198px;
    height: 55px;
    background: #E0B9B4;
    border-radius: 5px; 
}

div.wp-block-button a:hover {
        width: 198px;
        height: 55px;
        border-radius: 5px;
        background: #C02E44;
}

.singular .entry-header .entry-content {
    background-color: #ECE2DA;
}

.entry-content>.alignfull:not(.wp-block-group.has-background) {
    margin-bottom: 0;
    margin-top: 0;
}

.entry-content h2 {
    font-weight: 800;
}

.title-boisson {
    width: 100%;
    height: auto;
    background-color: #ECE2DA;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*images canette+feuilles page d'accueil*/

.container-canette-feuilles {
    height: 720px;
    width: 100%;
}

.canette {
    position: absolute;
    z-index: 2;
    left: 926px;
    top: 0;
}

.feuille-droite {
    position: absolute;
    z-index: 1;
    left: 1120px;
    top: 140px;
}

.feuille-gauche {
    position: absolute;
    z-index: 1;
    left: 765px;
    top: 140px;
}

/*Block l'énergie des plantes*/

.container-energie {
    height: 415px;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}

.container-canette-feuilles::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #ECE2DA;
    border-radius: 0% 0% 10% 10%;
}

/* Block Les goûts*/

.wp-container-gouts h2 p {
    height: 67px;
}

.title-gouts, .p-gouts{
    z-index: 1;
}

.wp-container-image-title-gouts {
    width: 816px;
    height: 644px;
}

.group-1, .groupe-2, .group-3, .group-4 {
    width: 393px;
    height: 262px;
}

.image-gout-1 {
    position: absolute;
    z-index : 1;
    left: 0px;
    top: 0px;
}

.title-gouts-1 {
    position: absolute;
    z-index: 2;
    width: 295px;
    height: 58px;
    left: 60px;
    top: 80px;
}

.image-gouts-2 {
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
}

.title-gouts-2 {
    position: absolute;
    z-index: 2;
    width: 358px;
    height: 116px;
    right: 20px;
    top: 50px;
}

.image-gouts-3 {
    position: absolute;
    z-index: 1;
    left: 0px;
    bottom: 0px;
}

.title-gouts-3 {
    position: absolute;
    z-index: 2;
    width: 245px;
    height: 116px;
    left: 80px;
    bottom: 90px;
}

.image-gouts-4 {
    position: absolute;
    z-index: 1;
    right: 0px;
    bottom: 0px;
}

.title-gouts-4 {
    position: absolute;
    z-index: 2;
    width: 245px;
    height: 116px;
    padding-top: 40px;
    right: 70px;
    bottom: 100px;
}

.wp-container-gouts .wp-block-button {
    margin-bottom: 40px;
    z-index: 1;
}
/* Block témoignages*/

.wp-container-testimonials {
    height: 638px;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}

.wp-container-gouts::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #ECE2DA;
    border-radius: 0% 0% 10% 10%;
}

.wp-container-testimonials h2 {
    font-size: 30px;
}

.container-groups-testimonials {
    width: 100%;
}

.groups-testimonials {
    width: 385px;
    height: 139px;
    gap: 0;
    padding: 0px !important;
}

.image-testimonials {
    width: 126px;
    height: 139px;
    margin-right: 0px !important;
}

.testimonials {
    padding-right: 20px;
    margin-top: 10px;
}

.testimonials h3 {
    font-size: 30px;
    margin-top: 10px !important;
}

.testimonials p {
    font-size: 16px;
}

/*page rencontre*/

.container-rencontre {
    width: 100%;
    height: 500px;
    margin-top: 0px !important;
    justify-content: center;
    align-content: center;
}

.rencontre-titre-texte {
    z-index: 1;
}

.fleur-rencontre {
    position: absolute;
    left: 460px;
    top: 0px;
    z-index: 1;
}

.rencontre-titre-texte h2 {
    font-size: 38px;
    width: 680px;
}

.rencontre-titre-texte p {
    font-size: 20px;
    width: 669px;
}

.container-equipe {
    height: 554px;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}

.container-rencontre::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #ECE2DA;
    border-radius: 0% 0% 20% 20%;
    transform: scale(1);
}

.colonne-equipe {
    height: 240px;
    gap: 170px;
}

.container-equipe h3 {
    font-size: 30px !important;
    margin-bottom: 0px;
}

.colonne-equipe h3, p {
    font-size: 20px !important;
    margin: 0px !important;
}

.colonne-equipe img {
    border-radius: 50%;
}

.colonne-equipe figure {
    margin: 0px !important;
}

.feuille-equipe {
    position: absolute;
    width: 191px;
    height: 219px;
    margin-bottom: 0px !important;
    right: 450px;
    bottom: 0px;
}

.container-contact {
    background-color: #ECE2DA;
}

.container-contact h3 {
    font-size: 30px !important;
}

.container-formulaire-contact {
    width: 383px !important;
    text-align: center;
    z-index: 1;
}

.container-formulaire-contact button {
    width: 198px;
    height: 55px;
    font-weight: 400;
    font-size: 15px !important;
    display: inline-block;
}

.feuille-formulaire img {
    position: absolute;
    z-index: 0;
    top: 590px;
    left: 835px;
}

/*Page commander*/

.fond-vert {
    width: 100%;
    background-color: #3B8E46 !important;
}

.fond-vert h3 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 40px;
}

.commander {
    font-size: 38px;
    margin: 70px 0px 70px 0px !important;
}

.separateur {
    border-top: 1px solid #FFFFFF;
    width: 860px;
}

.choix {
    width : 860px;
}

.choix img {
    width: 192px;
    height: 126px;
}

.choix h4 {
    font-weight: 800;
    font-size: 20px;
}

.image-gout {
    justify-content: center;
    align-items: center;
    height: 126px;
    flex-wrap: nowrap;
}


.wpcf7-text, .wpcf7-textarea, .wpcf7-number, .wpcf7-submit {
    border-radius: 5px !important;
}

 table, td {
    border: 0;
 }

.wpcf7-spinner {
    display: none;
}

.formulaire-commande {
    margin: 0px !important;
}

.wpc7-form {
    width: 860px
}

.wpcf7-form p {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.wpcf7-form h3 {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}
.bouton-commande {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 11px;
    margin-top: 14.5px;
}

.input-box > p > span {
        width: 82px;
        height: 56px;

        &:before {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 31px;
            height: 27.5px;
            color: white;
            background-color: #DC9F96;
            border-radius: 0px 5px 0px 0px;
            font-size: 20px;
            font-weight: 400;
            content: "+";
            display: flex;
            justify-content: center;
            align-content: center;
            pointer-events: none;
        }

        &:after {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 31px;
            height: 27.5px;
            color: white;
            background-color: #DC9F96;
            border-radius: 0px 0px 5px 0px;
            font-size: 20px;
            font-weight: 400;
            content: "-";
            display: flex;
            justify-content: center;
            align-content: center;
            pointer-events: none;
        }

        .input {
            box-sizing: border-box;
            display: block;
            margin: 0 auto 40px;
            border: none;
            border-radius: 10px;
            padding: 20px;
            width: 100%;
            height: 56px;
            font: 20px "Syne";

            -webkit-appearance: none;

            &:focus {
                outline: none;
            }

            &::-webkit-inner-spin-button {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                transform: scale(5);
                transform-origin: right center;
                opacity: 0;
                cursor: pointer;
            }

            &::-webkit-contacts-auto-fill-button {
                opacity: 0;
            }
        }
}

.wpcf7-submit {
    background-color: #E0B9B4 !important;
    width: 100px;
    height: 56px;
    font-size: 15px;
    font-weight: 400;
    text-transform: none !important;
}

.wpcf7-form .wpcf7-submit input :hover {
     text-decoration: none !important;
}

.border {
    border-top: #FFFFFF 1px solid;
    width: 860px;
    margin-top: 30px;
    margin-bottom: 53px;
}

.border-form h3 {
    margin-top: 0px;
}

.wpcf7-text input {
    margin-top: 13px;
}

.border-form .wpcf7-text {
    width: 383px;
    height: 71px;
    border-radius: 7px;
    background-color: #FFFFFF;
    gap: 76px;
    text-decoration: #FFFFFF;
    margin-bottom: 30px !important;
    margin-top: 13px;
}

.border-form td {
    padding: 0px;
    margin-top: 0px;
}

.color-size-text {
    color: #FFFFFF;
    font-size: 20px;
}

.items-informations p {
    justify-content: left;
}

.border-right {
    border-right: #FFFFFF 1px solid;
    height: 447px;
}

.text-livraison {
    padding-left: 44px;
}

.items-livraison p {
    justify-content: right;
}

.margin-bottom {
    margin-bottom: 0px !important;
}

.submit-command input {
    justify-content: center;
    color: #FFFFFF !important;
    width: 198px;
    font-size: 15px !important;
    font-weight: 400 !important;
}


/*Responsive*/

@media screen {
    .header-footer-group {
        height: auto;
    }
    .header-footer-group .site-logo {
        float: none;
        margin-top: 20px;
        margin-bottom: 20px;
        display: inline-block;
    }
}