@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

body * {
    font-family: 'Syne', sans-serif;
}

body {
    background-color: #FFFFFF;
}

.page .entry-title {
    display: none;
    background-color: #ECE2DA
}

.post-inner {
    padding : 0
}
.singular .entry-header {
    padding: 0;
}

.entry-content h2, .entry-content h3, .entry-content h4{
    font-family: 'Syne', sans-serif;
}

.green-title {
    color: #3B8E46;
}
/* HEADER */

.header-footer-group {
    background-color: #FFFFFF;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-inner {
    padding: 0;
    max-width: 100%;
}

.section-inner {
    margin-right: 0;
}
.site-logo {
    position: absolute;
    width: 201px;
    height: 19px;
}

li.menu-item a {
    font-size: 16px;
    color: black !important;
    display: inline-block;
    padding: 30px 60px;
    background-color: white;
    text-align: center;
    text-decoration: none !important;
}

li.menu-item a:hover{
    font-size: 13px;
    font-weight: 700;
}

li.menu-item.menu-item-11 a:hover {
    background-color: #C02E44;
    font-size: 16px;
}

li.menu-item.menu-item-11 a {
    color: white !important;
    background-color: #DC9F96;
    font-weight: 700 !important;
}

#site-footer {
    position: relative;
    height: 60px;
    padding: 20px;
    margin: auto;
    text-align: center;
    color: black;
    background-color: #FFFFFF !important;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.footer-top {
    padding: 0;
}
.footer-inner {
    padding: 0;
    max-width: 100%;
}

.footer-top.has-footer-menu {
    border: 0;
}

div.wp-block-button a {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none !important;
    text-transform: none;
    width: 198px;
    height: 55px;
    background: #E0B9B4;
    border-radius: 5px; 
}

div.wp-block-button a:hover {
        width: 198px;
        height: 55px;
        border-radius: 5px;
        background: #C02E44;
}

.singular .entry-header .entry-content {
    background-color: #ECE2DA;
}

.entry-content>.alignfull:not(.wp-block-group.has-background) {
    margin-bottom: 0;
    margin-top: 0;
}

.entry-content h2 {
    font-weight: 800;
}

.title-boisson {
    width: 100%;
    height: auto;
    background-color: #ECE2DA;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*images canette+feuilles page d'accueil*/

.wp-container-1 {
    height: 720px;
    width: 100%;
}

.wp-image-28 {
    position: absolute;
    z-index: 2;
    left: 926px;
    top: 0;
}

.wp-image-29 {
    position: absolute;
    z-index: 1;
    left: 1120px;
    top: 140px;
}

.wp-image-30 {
    position: absolute;
    z-index: 1;
    left: 765px;
    top: 140px;
}

/*Block l'énergie des plantes*/

.wp-container-2 {
    height: 415px;
    width: 100%;
    background-color: #FFFFFF;
   margin-bottom: 50px;
}

.wp-container-1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #ECE2DA;
    border-radius: 0% 0% 10% 10%;
}

/* Block Les goûts*/

.wp-container-gouts h2 p {
    height: 67px;
   
}

.wp-container-3, .wp-container-8, .wp-container-9 {
     width: 100%;
    background-color: #ECE2DA;
}

.wp-container-3 h2 {
    color: #D2776A;
}